# pnpm
node_modules/
pnpm-debug.log*

# Node.js
npm-debug.log*

# Build output
public/

# System files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*.code-workspace

# OS-specific
*.log

# Environment files
.env
*.bak
.npmrc
src/chronicle/accounts.json
src/chronicle/team.json
